<!-- app/views/todos/edit.html.erb -->
<turbo-frame id="modal">
  <div class="bg-white p-4 shadow-lg rounded-md">
    <h2 class="text-lg font-bold mb-4">Edit Todo</h2>
    <%= render "todos/form", todo: @todo %>
  </div>
</turbo-frame>

